*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app1/build
/app2/build
/captures
.externalNativeBuild
.cxx
setup_signing.sh
local.properties
